

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .link {
    text-decoration: none;
  }

  body{
    font-family: "Roboto", sans-serif;
    

  }
/* header */
.header{
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}
.navigation{
    display: flex;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: 93px;
}
.studio{
    color: #000000;
}
.menu{
    display: flex;
    align-items: center;
    
    
}
.list-item:not(:last-child) {
    margin-right: 50px;
}
.list-item-link .current{
    position: relative;
}
    



.list-item-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}
.list-item{
    position: relative;
}
.list-item-link.current::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #2196F3;
    border-radius: 2px;
    bottom: -31px;
}

.list-item-link:hover,
.list-item-link:focus {
  color: #2196F3
}
.list-item-link.current {
    color: #2196F3;
}
.navigation-contact{
    margin-left: auto;
}
.contact-box{
    display: flex;
}
.mail{
    margin-right: 50px;
    margin-left: auto;
}
.contact-link{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.contact-link{
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    
}
.header-icon{
    display: inline-block;
    fill: #757575;
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}
.contact-link:hover,
.contact-link:focus{
    color: #2196F3;
}
.contact-link:hover .header-icon,
.contact-link:focus .header-icon{
    fill: #2196F3;
}

/* hero */
.hero{
    padding: 200px 0;
    background-position: center;
    background-size: cover; 
    max-width: 1600px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url(../images/heroimage.jpg);
    background-color: #757575;
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 30px;
}
.modal-btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0 auto;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    border: none;
}
.backdrop{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    background-color: #FFFFFF;
    border-radius: 4px;
}
.button-close{
    position: absolute;
    top: 8px;
    right: 8px;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    margin-top: 8px; 
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
   
    
    
}
.close-icon{
   width: 11px;
   height: 11px;
    
    
}
  /* advantage */
.advantage{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: white;
}
.advantage-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -94px;
}
.advantage-list-item{
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 94px;
}
.advantage-icon{
    height: 70px;
    width: 70px;
    
}
.advantage-list-icon{
    padding: 25px 100px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}
.advantage-list-item-desk{

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-top: 0;
    margin-bottom: 10px;

}
.advantage-list-item-content{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 0;
    margin-bottom: 0;
}
/* section our work */
.work{
    background-color: white;
    padding-bottom: 94px;
}
.work-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 0;
    margin-bottom: 50px;
}
.work-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -50px;


}
.work-list-item{
    position: relative;
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 50px;
}
.work-item{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 70px;
    width: 100%;
    padding: 27px 82px;
    background: rgba(47, 48, 58, 0.8);
    
}
.work-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
  /* section our team */
.team{
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -54px;
}
.team-list-item{
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 54px;
    

}
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 0;
    margin-bottom: 50px;
}

.team-list-item-container{
    width: 270px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    padding-top: 16px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.team-title-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;

}
.team-title-proffesion{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
}
.social-list{
    display: flex;
    justify-content: space-between;
    
}
.social-list-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}
.social-list-link:hover,
.social-list-link:focus{
    background-color: #2196F3;
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus{
    fill: white;
}

.social-list-icon{
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    
}
/* clients */
.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-title{    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: #212121;
}
.clients-icon{
    fill: #AFB1B8;
    width: 106px;
    height: 60px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}   
.clients-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}   
.clients-list-link:hover,
.clients-list-link:focus{
    border: 1px solid #2196F3;
} 
.clients-list-link:hover .clients-icon,
.clients-list-link:focus .clients-icon{
    fill: #2196F3
}
    .clients-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clients-list:not(:last-child){
    margin-right: 30px;
}

/* footer */
.footer{
    background: #2F303A;
    
    margin: 0 auto;
}
.footer-list{
    display: flex;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
}
.studio-footer{
    color: #FFFFFF;
}
.contact-info{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-top: 20px;

}
.contact-list a{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-top: 9px;
    
}
.pagination{
    margin-top: 9px;
}
.pagination-item{
    margin-bottom: 9px;
}
  
/* присоединяйся */
.footer-title{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer-social-list-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: #43444D;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}
.footer-social-list-link:hover,
.footer-social-list-link:focus{
    background-color: #2196F3;
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon{
    fill: white;
}

.footer-social-list-icon{
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}
.footer-join{
    margin-left: 70px;
}
.footer-social-list-item:not(:last-child) {
    margin-right: 10px;
}
/* присоединяйся конец */
/* page 2 PORTFOLIO */

/* about our work */
.about-our-work{
    padding-top: 94px;
    padding-bottom: 94px;
}

.about-our-work-nemu{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.about-our-work-nemu-item:not(:last-child){
    margin-right: 8px;
}
.about-our-work-info{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.about-our-work-info-item{
    flex-basis: calc((100% - 270px) / 9);
    margin-left: 30px;
    margin-top: 30px;
}
.about-our-work-info-item:hover,
.about-our-work-info-item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

    
.button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
    padding: 6px 22px;
    border: none;
    background: #F5F4FA;
    border-radius: 4px;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    
}
.button:hover,
.button:focus{
    background-color: #2196F3;
    color: #FFFFFF;
}

    

.work-project{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 8px;
}
.work-project-item{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}
.about-our-work-item-container{
    padding: 20px 24px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}
.item{
    margin-right: 0;
}
.product-text{
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
}
.product-actions{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms linear;
    
}
.product-thumb{
    position: relative;
    overflow: hidden;
}
.product-actions-list:hover .product-actions,
.product-actions-list:focus .product-actions{
    transform: translateY(0%);
}
   
