.hero{
    padding: 200px 0;
    background-position: center;
    background-size: cover; 
    max-width: 1600px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url(../images/heroimage.jpg);
    background-color: #757575;
}

.hero__title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 30px;
}